/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

 $primary: #3d2b53;
 $secondary: #3c3b3f;
 $tertiary: #e8aa0f;;
 
 /** ASSET URLS
  * login-bg: image for login splash page 
  */
 
 $login-bg: url('../assets/images/login-bg.png')
